/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */


.Board{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* width: 60%; */
  margin: auto;
  /* background-color: grey; */
  text-align: center;
  margin: 20px;
  
}
.Buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.Board1{
  padding: 40px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: grey;
  
  
}


.InputBoard{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 60%;
  margin: auto;
}
.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.container li{
  display: inline-block;
  margin: 20px;
}

.container a {
  text-decoration: none;
  color: black;
}

.container a:hover,
.container a:active {
  color: brown;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
